* {
    box-sizing: border-box;
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(240, 240, 240);
}
.botaoTema {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    cursor: pointer;
}
.botaoTema:hover, .botaoFiltrar:hover, .botaoLixeira:hover {
    transition: 0.2s ease;
    background-color: rgb(210, 210, 210);
}
.containerListaDeTarefas {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.250);
    background-color: white;
    display: flex;
    flex-direction: column;
}
.cabecalhoListaDeTarefas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botaoFiltrar, .botaoLixeira {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tituloListaDeTarefas {
    font-size: 1.5rem;
    white-space: nowrap;
}
.containerInputsBotoes {
    margin-left: 10px;
    margin-right: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'inputTarefas botaoAdicionarTarefa'
    'botaoExcluirTarefa botaoExcluirTarefa';
}
.inputTarefas {
    height: 2.5rem;
    padding: 0.4rem;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 0.9rem;
    grid-area: inputTarefas;
}
.botaoAdicionarTarefa {
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    color: white;
    background-color: rgb(0, 230, 0);
    cursor: pointer;
    grid-area: botaoAdicionarTarefa;
}
.botaoLimparTarefas {
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    color: white;
    background-color: red;
    cursor: pointer;
    grid-area: botaoExcluirTarefa;
}
.botaoAdicionarTarefa:hover, .botaoLimparTarefas:hover {
    transition: 0.3s ease;
    opacity: 0.875;
}
.containerMensagensExitoErro {
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerItensTarefa {
    margin: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-y: auto;
}
.itemTarefa {
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textosTarefa {
    border: 1px solid green;
    width: fit-content;
}
/* Classes não usadas ainda, auxiliares posteriormente na dinâmica e interatividade*/
.mensagemExito {
    color: rgb(0, 230, 0);
}
.mensagemErro {
    color: red;
}
/*---------------*/
